.icon-return {
  cursor: pointer;
}
.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
*:focus {
  outline: none;
}
.custom-confirm-width {
  width: 580px !important; /* 设置你需要的宽度 */
  max-width: 95% !important; /* 确保在移动端不会溢出 */
}
.no-overlay {
  background: transparent !important; /* 使背景透明 */
}
